{% extends "layout.html" %}

  
{% block content %}
  <h2>{{ evento.nombre }}</h2>
  
  <div class="jumbo">
  	<div>
  		<div id="container_foto">
		  	<img style="margin-top:3em;" class="img-circle" hspace="25" src="http://localhost:5000/static/imagenes/ensalada_verduras.jpg"/>
		</div>
  	</div>
  	<div id="container">
	  	<div id="left">
			 <div>
			  {% if evento.descripcion %}
			    <h3 >{{evento.descripcion}}</h3>
			  {% endif %}
			  <h4 style="margin-left:5em;"><u>Fecha</u>: {{evento.fecha}}</h4>
			  <h4 style="margin-left:5em;"><u>Hora</u>: {{evento.hora}}</h4>
			  
			  <h4 style="margin-left:5em;" ><u>Asistir&aacute;n</u>: {{evento.asistiran}}</h4>
			  {% if usuarios_confirmados or usuarios_pendientes %}
			  	<h4 style="margin-left:5em;"> <u>Usuarios invitados</u>:</h4>
				  {% for usuario_confirmado in usuarios_confirmados %}
						<h5 style="margin-left:7em;"> {{usuario_confirmado.username}} - Asiste </h5>
				  {% endfor %}
				  {% for usuario_pendiente in usuarios_pendientes %}
						<h5 style="margin-left:7em;"> {{usuario_pendiente.username}} - Pendiente </h5>
				  {% endfor %}
				  {% for usuario_rechazado in usuarios_rechazados %}
						<h5 style="margin-left:7em;"> {{usuario_rechazado.username}} - No Asiste </h5>
				  {% endfor %}
			  {% endif %}
			  {% if evento.organizador_id == current_user.id and all_users != [] %}
			  <form method=post action="">
				  	<h4 style="margin-left:5em;"><u>Invitar a</u>:
					  	<select id="invitado" name="invitado">
							{% for a_user in all_users %}
							    <option value="{{ a_user.id }}" SELECTED>{{ a_user.username }}</option>
							{% endfor %}
						</select>
						<input class="btn btn-success" type=submit style="margin-bottom:1em;"value="Select">
			  		</h4>

			   </form>
			  {% else %}
			
			  {% endif %}
	    </div>

	    {% if evento.organizador_id == current_user.id%}
	    	<div class="pull-right"><a role="button" class="btn btn-default" href="{{ url_for('editar_evento', evento_id=evento.id) }}">Editar</a></div>
	    {% endif %}
  	</div>
  	<div id="right">
  		<h3><u>Clima</u></h3>
		<img src="http://openweathermap.org/img/w/{{clima_actual.icono}}.png"/>
		<p>Cielo: {{clima_actual.cielo}}</p>
		<p>Descripci&oacute;n: {{clima_actual.descripcion}}</p>
		<p>Temperatura: {{clima_actual.temperatura}}</p>
  	</div>		 	
</div>
  </div>

  <div class="pull-right"><a role="button" class="btn btn-default" href="{{ url_for('perfil') }}">Volver</a></div>
  
{% endblock %}
