{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

  
{% block content %}
  <h2>Crear nuevo evento</h2>
  <div class="jumbo">
	 <form method=post action="/nuevo_evento">
    <dl>
      {{ render_field(form.nombre,class='simple') }}
      {{ render_field(form.fecha) }}
      {{ render_field(form.hora) }}
      {{ render_field(form.descripcion) }}
      {{ render_field(form.ubicacion) }}
      {{ render_field(form.categoria) }}
    </dl>
    <p><input type=submit value=Guardar class="btn btn-success">
   </form>
	  
  </div>

  
  <div class="pull-right"><a role="button" class="btn btn-default" href="{{ url_for('perfil') }}">Volver</a></div>
{% endblock %}
