{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

  
{% block content %}
  {% if editar %}
    <h2>Editar evento</h2>
  {%else%}
    <h2>Crear nuevo evento</h2>
  {% endif %}
  
  <div class="jumbo">
   
	 <form style="margin-left:50px;" method="post" action={{action}}>

    <dl>
      {{ render_field(form.nombre) }}
      {{ render_field(form.fecha) }}
      {{ render_field(form.hora) }}
      {{ render_field(form.descripcion) }}
      {{ render_field(form.ubicacion) }}
      {{ render_field(form.url_imagen)}}
      {{ render_field(form.categoria) }}

    </dl>
    <p><input type=submit value=Guardar class="btn btn-success">
   </form>
	  
  </div>


    <div class="pull-right"><a role="button" class="btn btn-default" href="{{ url_for('perfil') }}">Volver</a></div>

{% endblock %}
