{% extends "layout.html" %}
  
{% block content %}
  {% if current_user.is_authenticated %}
  	<h2>Bienvenido, {{ current_user.username }}</h2>
  {% endif %}
  <div class="jumbo">
  	 <div id="left">

  	 	  <h3>Lista de eventos publicos</h3>
		  
		  {% with eventos=eventos_publicos,user=current_user %}
				{% include "_lista_de_eventos.html" %}
		  {% endwith %}

     </div>
     <div id="right">

		  <h3>Lista de eventos propios</h3>

		  {% with eventos=eventos,user=current_user %}
				{% include "_lista_de_eventos.html" %}
		  {% endwith %}

		  <h3>Lista de eventos invitados</h3>
		
		  {% with eventos=eventos_invitados,user=current_user %}
				{% include "_lista_de_eventos.html" %}
		  {% endwith %}

	  </div>
	  <p class="pull-right"><a role="button" class="btn btn-primary" href="{{ url_for('nuevo_evento', _method='GET') }}">Crear nuevo evento</a></p>
  </div>

  
{% endblock %}