{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
 

{% if editar %}
    <h2>Editar mi perfil</h2>
  {%else%}
    <h2>Registrarse</h2>
  {% endif %}  

   
     <form method="post" class="form-horizontal" action="">

    <dl>
      {{ render_field(form.username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
    </dl>
    <p><input type=submit value=Guardar class="btn btn-success">
   </form>



    <div class="pull-right"><a role="button" class="btn btn-default" href="{{ url_for('perfil') }}">Volver</a></div>

{% endblock %}